/* body{
    text-align: center;
    font-size:x-large;
} */
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .cronometro {
    font-size: 3em;
    margin: 20px;
  }
  
  button {
    font-size: 2em;
    margin: 12px;
    padding: 8px 20px;
    
  }
  /* .projetinho {
    background-color: antiquewhite;
  } */
  